<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditease.sia.server.domain.User" >
  <resultMap id="BaseResultMap" type="com.creditease.sia.server.domain.User" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="work" property="work" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="createDate" property="createDate" jdbcType="VARCHAR" />
    <result column="birthDate" property="birthDate" jdbcType="VARCHAR" />
    <result column="ImgUrl" property="ImgUrl" jdbcType="VARCHAR" />
    
    <!--  <collection  property="riddleList" ofType="com.creditease.sia.server.domain.Riddle">  
    	<id column="riddle_id" property="riddleId" jdbcType="INTEGER" />
   	 	<result column="riddle_name" property="riddleName" jdbcType="VARCHAR" />
    	<result column="riddle_side" property="riddleSide" jdbcType="VARCHAR" />
    	<result column="riddle_bottom" property="riddleBottom" jdbcType="VARCHAR" />
    	<result column="riddle_con_leavl" property="riddleConLeavl" jdbcType="VARCHAR" />
    	<result column="riddle_hot" property="riddleHot" jdbcType="INTEGER" />
    	<result column="riddle_image" property="riddleImage" jdbcType="VARCHAR" />
    	<result column="riddle_time" property="riddleTime" jdbcType="TIMESTAMP" />
    	<result column="riddle_tip" property="riddleTip" jdbcType="VARCHAR" />
    </collection> 
      <collection property="commentList" ofType="com.creditease.sia.server.domain.Comment">  
      <id column="comment_id" property="commentId" jdbcType="INTEGER" />
      <result column="riddle_id" property="riddleId" jdbcType="INTEGER" />
      <result column="comment_con" property="commentCon" jdbcType="VARCHAR" />
      <result column="user_id" property="userId" jdbcType="INTEGER" />
      <result column="createTime" property="createtime" jdbcType="DATE" />
      <result column="ipAddress" property="ipaddress" jdbcType="VARCHAR" />
      <result column="deletedId" property="deletedid" jdbcType="INTEGER" />
    </collection>   -->
    
  </resultMap>
  
   <resultMap id="BaseResultMap1" type="com.creditease.sia.server.domain.User" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jan 19 07:45:05 CST 2015.
    -->
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="work" property="work" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="createDate" property="createDate" jdbcType="VARCHAR" />
    <result column="birthDate" property="birthDate" jdbcType="VARCHAR" />
        <result column="ImgUrl" property="ImgUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="commonSelectColumnsPrefix">
        	ID ,
        	name ,
        	age ,
        	password ,
        	sex ,
        	mail ,
        	address,
        	work,
        	birthDate,
        	createDate,
        	phone 
	</sql>
	<sql id="mainSql">
		SELECT
			<include refid="commonSelectColumnsPrefix"/>
		FROM
			<include refid="tableNameSql"/> p
	</sql>
  
  	<!-- 按主键查找条件语句 -->
	<sql id="conditionOnlyId">
		ID = #{id}
	</sql>
	
	<!-- 表名 -->
	<sql id="tableNameSql">
		xiao_user
	</sql>
  <insert id="insert" parameterType="com.creditease.sia.server.domain.User" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jan 19 07:45:05 CST 2015.
    -->
    insert into xiao_user (id, name, age, 
      password, sex, mail, 
      address, work,birthDate,
        	createDate, phone
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{password,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{mail,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{work,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=DATE},
      #{birthDate,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="save" parameterType="com.creditease.sia.server.domain.User" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jan 19 07:45:05 CST 2015.
    -->
    insert into xiao_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="mail != null" >
        mail,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="work != null" >
        work,
      </if>
      <if test="phone != null" >
        phone,
      </if>
       <if test="birthDate != null" >
       birthDate,
      </if>
       <if test="createDate != null" >
       createDate,
      </if>
       
        	
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="mail != null" >
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="work != null" >
        #{work,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
       <if test="birthDate != null" >
        #{birthDate,jdbcType=VARCHAR},
      </if>
       <if test="createDate != null" >
        #{createDate,jdbcType=DATE}
      </if>
    </trim>
  </insert>
  <select id="getUserByName" parameterType="String" resultMap="BaseResultMap">
  	<include refid="mainSql"/>
		where name = #{username}
  </select>
  <select id="getById" parameterType="String" resultMap="BaseResultMap">
		<include refid="mainSql"/>
		where <include refid="conditionOnlyId"/>
	</select>
  
  <select id="queryTotalCount" resultType="java.lang.Integer">
  select count(*) from xiao_user
  </select>
  
  
  
  <!-- fandAllgetUser -->
  
   <select id="getUser" parameterType="map" resultMap="BaseResultMap">
  select <include refid="commonSelectColumnsPrefix"/> from xiao_user 
  where name=#{name} and  password=#{pass}
  </select>
  
   <select id="fandAll" resultMap="BaseResultMap">
  select <include refid="commonSelectColumnsPrefix"/> from xiao_user
  </select>
  
  <select id="queryPage"  parameterType="map"  resultMap="BaseResultMap">
  		select  * from xiao_user  limit #{startNum},#{endNum}
  </select>
  
  <delete id="deleteByIds" parameterType="Object[]">
		delete from <include refid="tableNameSql"/> 
		where ID in <foreach index="index" item="item" collection="array" separator="," open="(" close=")" >#{item}</foreach>
	</delete>
	
	<delete id="deleteById" parameterType="Object">
		delete from <include refid="tableNameSql"/> where <include refid="conditionOnlyId"/>
	</delete>
	
	<!-- 修改 -->
	<update id="update" parameterType="com.creditease.sia.server.domain.User">
		update
			<include refid="tableNameSql"/>
		set
		 
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="mail != null" >
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="work != null" >
        #{work,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
       <if test="birthDate != null" >
        #{birthDate,jdbcType=VARCHAR},
      </if>
       <if test="createDate != null" >
        #{createDate,jdbcType=DATE}
      </if>
        <!-- 	name =#{name,jdbcType=VARCHAR},
        	age = #{age,jdbcType=INTEGER},
        	sex =#{sex,jdbcType=INTEGER},
        	mail =#{mail,jdbcType=VARCHAR},
        	address =#{address,jdbcType=VARCHAR},
        	work = #{work,jdbcType=VARCHAR},
        	phone =  #{phone,jdbcType=VARCHAR},
        	birthDate=#{birthDate,jdbcType=VARCHAR} -->
             
			
		where <include refid="conditionOnlyId"/>
	</update>
	
	
</mapper>