<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.creditease.sia.server.domain.Comment" >
  <resultMap id="CommentBaseResultMap" type="com.creditease.sia.server.domain.Comment" >
    <id column="comment_id" property="commentId" jdbcType="INTEGER" />
    <result column="riddle_id" property="riddleId" jdbcType="INTEGER" />
    <result column="comment_con" property="commentCon" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="DATE" />
    <result column="ipAddress" property="ipaddress" jdbcType="VARCHAR" />
    <result column="deletedId" property="deletedid" jdbcType="INTEGER" />
    <result column="parentId" property="parentId" jdbcType="INTEGER" />
    <result column="userName" property="userName" jdbcType="VARCHAR" />
  </resultMap>
 
 
 <sql id="Base_Column_List" >
    comment_id, riddle_id, comment_con, user_id, createTime, ipAddress, deletedId
  </sql>
  <!-- -查询指定ID的评论 -->
  <select id="selectByPrimaryKey" resultMap="CommentBaseResultMap" parameterType="java.lang.Integer" >
     
    select 
    <include refid="Base_Column_List" />
    from xiao_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
   
    <!-- getComListById -->
     <select id="getComListById" resultMap="CommentBaseResultMap" parameterType="java.lang.Integer" >
     
    select 
    <include refid="Base_Column_List" />
    from xiao_comment
    where user_id = #{id}
  </select>
  <select id="selectCommentByRiddleId"  parameterType="java.lang.Integer" resultMap="CommentBaseResultMap" >
   select *  from  xiao_riddle_comment t 
   where t.riddle_id= #{riddleId}
   </select>
   <!-- 查询selectCommentByRiddleIdToList -->
       <select id="selectCommentByRiddleIdToList"  parameterType="java.lang.Integer" resultMap="CommentBaseResultMap" >
         select *  from  xiao_comment t 
         where t.comment_id= #{commentId}
   </select>

 
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 19 22:59:42 CST 2015.
    -->
    delete from xiao_comment
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.creditease.sia.server.domain.Comment" >
    insert into xiao_comment (comment_id, riddle_id, comment_con, 
      user_id, createTime, ipAddress, 
      deletedId)
    values (#{commentId,jdbcType=INTEGER}, #{riddleId,jdbcType=INTEGER}, #{commentCon,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{createtime,jdbcType=DATE}, #{ipaddress,jdbcType=VARCHAR}, 
      #{deletedid,jdbcType=INTEGER})
  </insert>
   <insert id="insertRiddleAndComment"  parameterType="com.creditease.sia.server.domain.Riddle">
    insert into xiao_riddle_comment
    ( riddle_id,  comment_id ,user_id)
    values (#{C_id,jdbcType=INTEGER},#{commentId,jdbcType=INTEGER},#{userid,jdbcType=INTEGER})
   </insert>
  <insert id="save" parameterType="com.creditease.sia.server.domain.Comment"  useGeneratedKeys="true" keyProperty="commentId" >
    insert into xiao_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        comment_id,
      </if>
      <if test="riddleId != null" >
        riddle_id,
      </if>
      <if test="commentCon != null" >
        comment_con,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    
        createTime,
 
      <if test="ipaddress != null" >
        ipAddress,
      </if>
      <if test="deletedid != null" >
        deletedId,
      </if>
     <if test="userName != null" >
        userName ,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="riddleId != null" >
        #{riddleId,jdbcType=INTEGER},
      </if>
      <if test="commentCon != null" >
        #{commentCon,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      current_date()  ,
      <if test="ipaddress != null" >
        #{ipaddress,jdbcType=VARCHAR},
      </if>
      <if test="deletedid != null" >
        #{deletedid,jdbcType=INTEGER},
      </if>
      
        <if test="userName != null" >
           #{userName,jdbcType=VARCHAR},
        </if>
    </trim>
   
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.creditease.sia.server.domain.Comment" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 19 22:59:42 CST 2015.
    -->
    update xiao_comment
    <set >
      <if test="riddleId != null" >
        riddle_id = #{riddleId,jdbcType=INTEGER},
      </if>
      <if test="commentCon != null" >
        comment_con = #{commentCon,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=DATE},
      </if>
      <if test="ipaddress != null" >
        ipAddress = #{ipaddress,jdbcType=VARCHAR},
      </if>
      <if test="deletedid != null" >
        deletedId = #{deletedid,jdbcType=INTEGER},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.creditease.sia.server.domain.Comment" >
    
    update xiao_comment
    set riddle_id = #{riddleId,jdbcType=INTEGER},
      comment_con = #{commentCon,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=DATE},
      ipAddress = #{ipaddress,jdbcType=VARCHAR},
      deletedId = #{deletedid,jdbcType=INTEGER}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
</mapper>